POSTGRES_DB=estimating
POSTGRES_USER=estimating
POSTGRES_PASSWORD=estimating_dev_only
ConnectionStrings__Default=Host=localhost;Port=5432;Database=estimating;Username=estimating;Password=estimating_dev_only
